/* dark mode */ 

body { 

    color: #000000; 

} 


.container { 

    padding: 20px; 

    text-align: center; 

} 

 
 

/* Estilos para o modo escuro */ 

.dark-mode { 

    background-color: #000000; 

    color: #ffffff; 

} 

 
 

.dark-mode .container { 

    border: 1px solid #ffffff; 

} 

 
 

/* Estilos para o botão de alternância */ 

.switch { 

    position: relative; 

    display: inline-block; 

    width: 50px; 

    height: 25px; 

} 

 
 

.switch input { 

    opacity: 0; 

    width: 0; 

    height: 0; 

} 

 
 

.slider { 

    position: absolute; 

    cursor: pointer; 

    top: 0; 

    left: 0; 

    right: 0; 

    bottom: 0; 

    background-color: #ccc; 

    transition: .4s; 

    border-radius: 35px; 

} 

 
 

.slider:before { 

    position: absolute; 

    content: ""; 

    height: 27px; 

    width: 27px; 

    left: 0px; 

    background-color: rgb(255, 255, 255); 

    transition: .4s; 

    border-radius: 50%; 

} 

 
 
.dark-mode .modal-content {
    background-color: #333; /* Cor de fundo do modal em modo escuro */
    color: #fff; /* Cor do texto no modal em modo escuro */
}
 

input:checked+.slider { 

    background-color: #55038C; 

} 

 
 

input:checked+.slider:before { 

    transform: translateX(26px); 

} 

 
 

/* dark mode */ 
 .navbar {
    background-color: #dad6d6; 
    
}
.navbar-nav .nav-link {
    color: black; 
}

.navbar-nav .nav-link:hover {
    color: #BC69F0; 
}

a {
    color: #000;
    text-decoration: none; 
}   
a:hover {
    color: #BC69F0;
}
.btn-custom {
    background-color: rgb(131, 134, 237); 
}

.btn-custom:hover {
    background-color: rgb(188, 105, 240); /
}

#botao-avaliacao { 

    background-color: #55038C; 

    border: 1px solid #ffffff;  

    color: #ffffff;  

    padding: 10px 25px; 

    text-align: center; 

    display: inline-block; 

    margin: 8px 4px;  

    cursor: pointer; 

    text-decoration: none; 

    font-size: 15px; 

} 

 
 
 

#botao-avaliacao:hover { 

    background-color: #d8a76c; 

} 

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.avaliacao {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    color: #333; 
}

label {
    display: block;
    margin-top: 10px;
    color: #555; 
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
}

.rating {
    margin: 10px 10px;
}

.star {
    font-size: 45px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
}


.star:hover {
    color: gold;
}

.rated {
    color: gold;
}

#comment {
    resize: vertical;
}

button {
    background-color: #F2AA52; 
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #55038C; 
}

#comments {
    margin-top: 20px;
}

h2 {
    color: #333; 
}


